package views

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="es" class="h-full bg-gray-50">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title } - Sancho</title>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			// Asumo que tu output de tailwind va aquí según la estructura de carpetas
			// <link href="../assets/css/output.css" rel="stylesheet"/> 
			<link href="/assets/css/output.css" rel="stylesheet"/>
		</head>
		// hx-boost="true" interceptará formularios y enlaces para manejarlos con HTMX
		<body class="h-full" hx-boost="true">
			{ children... }
		</body>
	</html>
}